
/* Colors and global variables */

:root {
    /* Accent Colors */
    --color-accent-1: #4fb06d;
    --color-accent-2: #5c62d6;
    --color-accent-3: #ff5c35;
    --color-accent-4: #5bd7db;

    /* Text Color */
    --color-text-dark: #000000;
    --color-text-light: #fafafa;

    /* Primary Color (Background) */
    --color-primary: #1e1e1e;

    /* Container */
    --color-container: #213343;

    /* Main Text */
    --color-text-main: var(--color-text-light);
}

.light-mode {
    /* Primary Color (Background) */
    --color-primary: #fafafa;

    /* Container */
    --color-container: #e0e0e0;

    /* Text Color */
    --color-text-main: var(--color-text-dark);
}

/* Webkit */

::-webkit-scrollbar {
    width: 0px;
}

/* General */

body {
    background-color: var(--color-primary);
    color: var(--color-text-main);
    margin: 0;
    padding: 0;
    transition: all 0.3s ease 0s;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-family: "urw-din-condensed", sans-serif;
    font-weight: 1000;
    font-size: 72px;
    font-style: normal;
    margin: 0;
    padding: 10px 20px 10px 20px;
    border-bottom: 6px solid var(--color-accent-1);
}

p {
    line-height: 150%;
}

img {
    border: 6px solid var(--color-accent-1);
}

input, section {
    margin: 0;
    padding: 0;
}

button {
    background-color: var(--color-accent-3);
    color: var(--color-text-light);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease 0s;
    border-radius: 10px;
}

button:hover {
    box-shadow: inset 0px 0px 0px 100px #00000028;
}

/* Class Specific */

.sidebar {
    height: 100vh;
    /* width: 300px; */
    background-color: #ffffff;
    position: fixed;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
}

.bookend {
    background-color: var(--color-container);
    color: var(--color-text-main);
    box-shadow: 0px 0px 20px 0px var(--color-accent-1);
    transition: all 0.3s ease 0s;
    scroll-behavior: smooth;

    min-height: 100vh;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-inline: 20px;

    p {
        padding: 10px 25px 10px 25px;
    }
    
    .header-ad {
        width: 100%;
        height: 300px;
        background-color: #000000;
        top: 0;
    }

    .grid {
        padding-block: 5vh 20vh;
        flex-grow: 1;
        display: grid;
        place-items: center;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto auto;
        width: min(1200px, 100%);
        gap: 40px;

        div {
            display: flex;
            flex-direction: column;
        }

        h1 {
            font-size: clamp(60px, 3.75vw, 72px);
        }

        p {
            font-size: 19px;
            margin: 0;
            padding-top: 20px;
        }

        img {
            max-width: calc(100% - 12px);
        }
    }
}

header {
    border-bottom: 6px solid var(--color-accent-1);
}

footer {
    border-top: 6px solid var(--color-accent-1);
    h1 {
        width: calc(100% - 90px);
        font-size: clamp(60px, 3.75vw, 72px);
        grid-column: span 2;
    }
}

/* Slides */

.slide {
    height: 100vh;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;

    .slide-content {
        max-width: 900px;
        border-radius: 20px;
        background-color: var(--color-container);
        border: 6px solid var(--color-accent-1);
        box-shadow: 0px 0px 10px 0px var(--color-accent-1);
        color: var(--color-text-main);
        transition: all 0.3s ease 0s;

        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto auto;
        row-gap: 30px;
        padding: 30px 30px 50px 30px;

        h1 {
            font-size: clamp(30px, 3.75vw, 56px);
            grid-column: span 2;
        }

        p {
            margin: 0px 20px;
        }

        img {
            width: calc(100% - 32px);
            max-width: 400px;
            margin: auto;
            margin-right: 20px;
        }
    }
}

/* Popups */
.popup {
    min-height: 100vh;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    scroll-behavior: smooth;

    .popup-content {
        border-radius: 20px;
        background-color: var(--color-container);
        box-shadow: 1px 1px 5px 0px #808080;
        color: var(--color-text-main);
        transition: all 0.3s ease 0s;

        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto auto;
        column-gap: 30px;
        align-items: center;
        padding: 30px 40px;
        
        h1{
            border: 0;
            font-family: 'Arial', sans-serif;
            padding: 0;
            font-weight: 700;
            font-size: 36px;
            text-align: center;
            grid-column: span 2;
        }
        
        p {
            grid-column: span 2;
        }
        
        button {
            font-weight: 600;
            font-size: 20px;
            padding: 20px;
        }
        
        input, select {
            border-radius: 10px;
            border:0;
            padding: 10px;
        }
    }
}

#cookie-settings {
    width: 520px;

    h1 {
        margin-block: 12px 16px;
    }

    p {
        margin-bottom: 32px;
    }

    #deny-cookies {
        background-color: #b8b8b8;
        color: var(--color-text-dark)
    }
}

#information-form {
    max-width: 100vw;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    row-gap: 8px;
    text-align: right;

    h1{
        font-size: 24px;
        margin-bottom: 16px;
    }

    button {
        grid-column: span 2;
        margin-top: 10px;
    }
}

#mailing-list {
    width: 520px;
    max-width: 100vw;
    
    input {
        grid-column: span 2;
        font-size: 18px;
        margin-bottom: 20px;
    }
    
    #deny-mailing {
        background-color: #b8b8b8;
        color: var(--color-text-dark)
    }
}

/* mobile */
@media only screen and (max-width: 800px) {
    header.bookend {
        margin-bottom: 20%;
        .grid {
            padding-block: 5vh;
            display: flex;
            flex-direction: column;
        }

        img {
            order: 1;
            width: 80%;
        }

        div {
            order: 2;
        }
    }

    footer.bookend {
        margin-top: 20%;
        .grid {
            padding-block: 5vh;
            display: flex;
            flex-direction: column;
        }
    }

    .slide {
        height: 100%;
        width: auto;
        padding-inline: 0px;
        margin-block: 20%;
        display: flex;
        align-items: center;

        .slide-content {
            border-inline: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 80%;
                margin: auto;
            }
        }
    }
    
    .popup {
        min-height: 100%;
        padding-inline: 0px;
        margin-block: 20%;
        display: flex;
        align-items: center;
    
        .popup-content {
            display: flex;
            flex-direction: column;
            align-items: normal;
        }
    }

    #cookie-settings {
        width: auto;

        #accept-cookies {
            margin-bottom: 15px;
        }
    }

    #information-form {
        max-width: calc(100vw - 80px);
        width: auto;

        display: flex;
        flex-direction: column;
        text-align: left;
        label {
            margin-top: 10px;
        }
    }

    #mailing-list {
        max-width: calc(100vw - 80px);
        width: auto;

        #accept-mailing {
            margin-bottom: 15px;
        }
    }
}

/* Hidden override */

.hidden {
    display: none;
}